*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}


/* 
.flex-row{
    display:flex;
    flex-flow: rownowrap;
}

.flex-column{
    display: flex;
    flex-flow: column nowrap;

} */

.hidden{
    display: none;
}